
<td><%= user.email %></td>
<% if user.buyer? %>
    <td><%= link_to 'Subscribed Plans', user_plan_subscriptions_path(user.id,plan), class: 'btn btn-dark' %></td>
    <td><%= link_to 'Delete User', user_path(user.id),class: 'btn btn-dark', method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
</tr>

