
<% if current_user.admin? %>
  <h1> BUYERS </h1>

  <form class="d-flex" action="/search" >
    <input class="form-control me-2" name ='q' type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>

  <br/>
  <%= link_to 'CHARGE ACCOUNTS', charge_account_users_path ,class: 'btn btn-dark'%>
  <br/>
  <br/>
  <table class='table table-striped' >
    <thead>
      <tr>
        <th> BUYERS </th>
        <th colspan = '2'>
      </tr>
    </thead>
    <tbody>
    <br/>
    <%= link_to 'Invite Buyer ' ,  new_user_invitation_path, class: 'btn btn-success btn-lg .right-*' %>
    <% @users.each do |user| %>
      <%= render 'user_details',user: user, plan: @plans %>
    <% end %>
    </tbody>
  </table>
<%end%>



