<h1> SEARCH RESULTS </h1>
<br/>
<table class='table table-striped' >
   
  <thead>
    <tr>
      <th> BUYER </th>
      <th colspan = '2' >
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <%= render 'user_details',user: user, plan: @plans %>
    <% end %>
  </tbody>

</table>


